.cart-title {
  width: 1088px;
  color: #f8f8f2;
  font-size: 30px;
}

.card-section {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.card-section img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.card-main {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card-main-title {
  padding-left: 80px;
  color: #394a6a;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}

.card-main-desc {
  color: #394a6a;
  font-size: 14px;
  padding-left: 80px;
}

.card-main-price {
  font-size: 16px;
  color: #394a6a;
  padding-left: 80px;
}

.form {
  width: 325px;
  padding: 32px;
  background-color: #f0f6ff;
  border-radius: 10px;
}

.card-main-title-title {
  color: #394a6a;
  font-size: 12px;
}

.font-medium {
  color: #394a6a;
  font-size: 13px;
}
