.main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main__container {
  display: flex;
  gap: 65px;
  align-items: center;
}

.main-left {
  width: 496px;
}

.main-title {
  width: 496px;
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.main-desc {
  width: 496px;
  color: white;
  font-size: 18px;
  margin: 32px;
}

.main-btn {
  color: #272935;
  font-size: 16px;
  background-color: #ff7ac6;
  margin: 40px;
  padding: 12px 16px;
}

.main-rigth {
  width: 496px;
  background-color: #021431;
  padding: 16px;
  cursor: pointer;
}

.main-rigth img {
  width: 320px;
}
.section-title {
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
}

.hr {
  margin-top: 12px;
  width: 1152px;
}
